/* this piece of css is causing issues, espicially the container. 11-28-2023. */

/* button {
  margin-top: 1.5rem;
  margin-bottom: -0.35rem;
}

#container {
  display: flex;
  flex-direction: row;
}

#button-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

#card-container {
  display: flex;
  flex: 2;
  margin: 0;
} */
