.product-item {
  text-align: center;
  margin: 10px;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 5px;
}

.product-price {
  font-weight: bold;
}

button {
  background-color: #efe8e0;

  color: #37394b;
  padding: "10px 20px";
  border-radius: "5px";
  border: "none";
  cursor: "pointer";
}
