.navbar {
  height: 80px;
  background-color: #37394b;
}

.navbar-nav .nav-item {
  margin-right: 1rem;
}

.nav-link,
.navbar-nav.ml-auto .nav-link {
  color: #efe8e0;
}

.form-control {
  background-color: #efe8e0;
  color: #282b2b;
  text-align: center;
}

.btn-outline-light {
  background-color: #37394b;
  color: #efe8e0;
}

.navbar-nav.ml-auto .nav-link {
  color: #efe8e0;
}

.navbar-nav+.navbar-nav {
  margin-left: auto;
}

.navbar-dark .navbar-nav .nav-link {
  color: #efe8e0;
}

.navbar-dark .navbar-nav .nav-item {
  padding: 0.5rem 1rem;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
}

.search-bar {
  flex-grow: 1;
}

.search-bar .form-control {
  width: 100%;
}

@media (max-width: 991px) {
  .navbar-nav .nav-item {
    margin-right: 0.5rem;
  }

  .navbar-collapse {
    background-color: #37394bbb;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1100;
  }

  .navbar-collapse .search-bar {
    display: block;
    margin-top: 10px;
    padding: 10px;
  }

  .navbar-toggler {
    position: fixed;
    right: 10px;
    top: 25px;
    z-index: 1200;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    display: none;
  }
}

.cart-amount-number {
  color: lightblue;
}
